<app-layout>
  <div class="jumbotron">
    <h1>Typing game</h1>
    <p>
      Type as fast as you can each word that appears down below in a set amount of time!
    </p>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="col-sm-12" style="align-items:center">
        <label>Word: {{randomWord}}</label>
      </div>
      <div class="col-sm-12">
        <input type="text" class="form-control" [(ngModel)]="typedWord" (input)="checkWord()" #wordInput>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-sm-12" style="padding-bottom:12px">
        <button type="button" style="width:100%" class="btn" [ngClass]="(!timeout) ? 'btn-primary' : 'btn-danger'" (click)="restartGame()" [disabled]="!timeout">{{typingButtonLabel}}</button>
      </div>
      <div class="col-sm-12">
        <label>Time left: {{timeLeft}} seconds</label><br>
        <label>Completed: {{correctWords}}</label><br>
        <label>Accuracy: {{accuracy}}%</label>
      </div>
    </div>
  </div>
</app-layout>
